 * {
        list-style: none;
        text-decoration: none;
    }
    @font-face {
        font-family: 'Helvetica LT Std';
        src: url('HelveticaLTStd-Roman.eot');
        src: url('HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
            url('HelveticaLTStd-Roman.woff2') format('woff2'),
            url('HelveticaLTStd-Roman.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    
    .xi-align-right{
        font-size: 2rem;
        color: #ff7200;
        cursor: pointer;
    }
    .mar-20{
        margin: 0 20px;
    }
    .f-red{
        font-family: 'Corporate S Regular';
        color:#ff7200;
        font-weight: 600;
        opacity: .6;
    }
    .f-red:hover{
        color:#ff7200;
        opacity: 1;
    }
    .logo{
        font-family: 'Helvetica LT Std';
        font-weight: 700;
        color: #ff7200;
        font-size: 1rem;
    }
    .banner>img{
        width: 50%;
        justify-content: center;
    }

    
  