 * {
        list-style: none;
        text-decoration: none;
    }
    @font-face {
        font-family: 'Helvetica LT Std';
        src: url('HelveticaLTStd-Roman.eot');
        src: url('HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
            url('HelveticaLTStd-Roman.woff2') format('woff2'),
            url('HelveticaLTStd-Roman.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    
    .xi-align-right{
        font-size: 2rem;
        color: #ff7200;
        cursor: pointer;
    }
    .mar-20{
        margin: 0 20px;
    }
    .f-red{
        font-family: 'Corporate S Regular';
        color:#ff7200;
        font-weight: 600;
        opacity: .6;
    }
    .f-red:hover{
        color:#ff7200;
        opacity: 1;
    }
    .logo{
        font-family: 'Helvetica LT Std';
        font-weight: 700;
        color: #ff7200;
        font-size: 1rem;
    }
    /* navigation End */

    .banner{
        position: relative;
    }
    .banner>img{
        width: 50%;
        margin: 18% 0;
     }
     .text-margin{
        position: absolute;
        top: 24%;
        left: 5%;
        font-family: 'Helvetica LT Std';
        font-weight: 700;
        color: #ff7200;
        font-size: 5rem;
     }
     .text-margin-bottom{
         position: absolute;
         bottom: 25%;
         right: 5%;
         font-family: 'Helvetica LT Std';
         font-weight: 700;
         color: #ff7200;
         font-size: 5rem;
     }
     /* page1 End */
     .line{
        font-family: 'Helvetica LT Std';
        font-weight: 700;
        font-size: 3rem;
        line-height: 50px;
     }
     .line:first-child{
        animation: anim 10s infinite;
     }
     .text-box{
         height: 50px;
         overflow: hidden;
    }
    .pad-10{
        padding: 10% 0;
    }

     @keyframes anim{
         0%{
             margin-top: 0;
         }
         40%{
             margin-top: -50px;
         }
         80%{
             margin-top: -100px;
         }
         90%{
            margin-top: -50px;
         }
         100%{
             margin-top: 0;
         }
     }
      
        /* slide End */
     .explain>p{
        font-family: 'Helvetica LT Std';
        font-size: 1.2rem;
     }
     .explain{
         padding: 8.5% 0;
     }
     .title>p{
         font-size: 6rem;
         font-weight: 600;
         color:rgba(255,108,0,.7);
     }
     /* .parallax-text{
        transform: translate3d(0%, 0px, 0px);
      } */

      /* page3 End */
      .background-f{
          width: 100%;
          background-image: url(../images/a89cad0421739f0409401860f847feaa540c10c4.jfif);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        }


     @media(max-width:769px){
        .text-margin{           
            top: 20%;
            left: 0%;               
            font-size: 3rem;
         }
         .text-margin-bottom{
             bottom: 20%;
             right: 0;
             font-size: 3rem;
         }
         .banner>img{
            width: 80%;
            margin: 18% 0;
         }
         /* page1 End */  
         .line{
            font-weight: 600;
            font-size: 2rem;
            line-height: 35px;
         }
         .text-box{
            height: 35px;
            }
            @keyframes anim{
                0%{
                    margin-top: 0;
                }
                40%{
                    margin-top: -35px;
                }
                80%{
                    margin-top: -70px;
                }
                90%{
                   margin-top: -35px;
                }
                100%{
                    margin-top: 0;
                }
            }
             
     }
     /* slide text End */
     



     @media(max-width:541px){
        .text-margin{                    
            font-size: 1.8rem;
         }
         .text-margin-bottom{
          font-size: 1.8rem;
         }
         /* page1 End */  
        
     }

     @media(max-width:321px){
        .text-margin{                    
            font-size: 1rem;
            left: -15%;
         }
         .text-margin-bottom{
          font-size: 1rem;
          bottom: 15%;
          right: -15%;
         }
        /* page1 End */  
        .line{
            font-size: 1.5rem;
            line-height: 26px;
        }
        .text-box{
            height: 26px;
            }
        @keyframes anim{
                0%{
                    margin-top: 0;
                }
                40%{
                    margin-top: -26px;
                }
                80%{
                    margin-top: -52px;
                }
                90%{
                   margin-top: -26px;
                }
                100%{
                    margin-top: 0;
                }
            }
             

        /* page2 End */
         .about-img>img{
             width: 80%;
         }

     }

    
  